// 全局变量


// 顶部导航栏背景色
$color-dark: #363e4f;

// hover、强调性文字
$color-blue: #2d8cf0;

// 二级导航背景色、副标题背景色、表格斑马线背景色
$color-fa: #fafafa;

$color-white: #fff;

// 标题文字
$color-333: #333;

// 二级导航主标题、表格内具体数据文字、下拉交互按钮
$color-666: #666;

// 辅助性说明文字、二级导航链接文字
$color-999: #999;

// 箭头
$color-ccc: #ccc;

// 顶部导航默认文字
$color-light-grey: #c8cacf;
