@import './var.scss';

.c-333 {color: #333;}
.c-666 {color: #666;}
.c-999 {color: #999;}
.c-4d { color: #4d4d4d; }
.c-7b { color: #7b7b7b; }

@for $i from 10 through 18 {
    .f#{$i} {
        font-size: $i + px !important;
    }
}
.f0 { font-size: 0px !important; }
.f20 { font-size: 20px !important; }

.strong {font-weight: bold;}
.pull-right {float: right;}
.pull-left {float: left;}

.text-center {text-align: center;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.container {
    width: 100%;
    background-color: $bg-color;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.box-sizing {
    width:100%;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
